* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #05ce0b;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button {
    background-color: #4CAF50;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label {
    background: #4CAF50;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    outline: none;
    vertical-align: middle;
}

form.example label:hover {
    background: #05ce0b;
}

.result {
    background-image: url("../images/background2.jpg");
    opacity: 1;
    filter: alpha(opacity=50);
    /* sử dụng cho IE8 trở về trước */
}